version: '3.8'

services:
  db:
    image: mariadb:latest
    container_name: sample-app-db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: sample-app-db
      MARIADB_USER: user
      MARIADB_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - /mnt/usb/sample-app-db:/var/lib/mysql

  app:
    build: .
    container_name: sample-app
    depends_on:
      - db
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASSWORD: password
